main {
    font-size: 22px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.main-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-item-container {
    display: grid;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    height: 100%;
}